h1 {
  text-align: center;
  color: teal;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}

p {
  text-align: center;
  color: #787e87;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  color: aqua;
}

#unique-paragraph {
  color: teal;
  font-size: 20px;
}
