img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin-bottom: -150px;
  border: 2px solid aqua;
  box-shadow: 1px 1px 4px aqua;
}

main {
  background-color: white;
  width: 800px;
  margin: 50px auto 50px auto;
  padding: 20px;
  border: 3px solid aqua;
  border-radius: 10px;
  box-shadow: 1px 1px 6px;
}

a {
  color: greenyellow;
}

main p {
  background-color: wheat;
  color: teal;
  border-radius: 10px;
  padding: 50px;
  margin: 80px;
  box-shadow: 1px 1px 4px aqua;
}

header p {
  background-color: wheat;
  color: teal;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  margin: 10px auto 10px auto;
}
